body {
  background: #161b22;
}

header {
  display: flex;
  align-items: center;
}

.navbar-menu {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
  margin-top: -250px;
  border-bottom: 2px solid #f0f6fc;
}

.navbar-items {
  height: 80px;
}

.navbar-links {
  color: #f0f6fc;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
}

img {
  border-radius: 50%;
  width: 300px;
  margin-top: 100px;
  margin-left: 50px;
}

.repositories {
  display: flex;
  justify-content: space-between;
  max-height: 70px;
  max-width: 900px;
  margin-left: 450px;
  margin-top: -300px;
}

.fabook {
  margin: 10px 10px 0px 20px;
}

.book-button {
  width: 200px;
}

p {
  color: #f0f6fc;
  font-size: 20px;
}

.repositories .navbar-link {
  font-size: 20px;
  color: aqua;
  text-decoration: none;
  margin-top: 20px;
}

.repo-box {
  max-width: 900px;
  margin-left: 450px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.box {
  width: 320px;
  border: 1px solid #393f47;
  border-radius: 5px;
  height: 100px;
  margin: 20px 20px 20px 0;
  padding: 10px 10px 10px 10px;
}

h3 {
  color: #f0f6fc;
  font-size: 25px;
  font-weight: 100;
}

.name {
  margin-left: 100px;
}

.starCount {
  margin-left: 10px;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 350px;
}

button {
  max-width: 350px;
  width: 320px;
  height: 45px;
  border: 0.5px solid #f0f6fc;
  color: #f0f6fc;
  background-color: #21262d;
  border-radius: 3px;
  font-weight: bold;
}

button:hover {
  border: 1px solid #f0f6fc;
  background-color: #3c4249;
  color: #f0f6fc;
}

.cal {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cal a {
  text-decoration: none;
  color: #58a6ff;
}

.cal a:hover {
  border-bottom: 2px solid #58a6ff;
}

small {
  border: 0.5px solid #f0f6fc;
  border-radius: 10px;
  color: #f0f6fc;
  padding: 1px 7px 2px 7px;
}

.jav {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
}

i {
  color: #f0f6fc;
  margin-top: 15px;
  margin-left: 15px;
}

.box p {
  font-size: 14px;
  padding: 0 0 0 0;
}

@media (max-width: 767px) {
  .repositories {
    display: flex;
    justify-content: space-between;
    max-height: 70px;
    max-width: 700px;
    margin-left: 450px;
    margin-top: -300px;
  }

  .repositories a {
    margin-top: 20px;
  }
}
